* {
  margin: 0;
  padding: 0;
}

.playerTurn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #000;
}

.board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #000;
  margin-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}

.ball1 {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: red;
  pointer-events: none;
}

.ball2 {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: red;
  pointer-events: none;
}

.ball3 {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: red;
  pointer-events: none;
}

.cell1 {
  .ball1 {
    top: 12.5px;
    left: 12.5px;
  }
}

.cell2 {
  .ball1 {
    top: 12.5px;
    left: 5px;
  }
  .ball2 {
    top: 12.5px;
    left: 20px;
  }
}

.cell3 {
  .ball1 {
    top: 5px;
    left: 12.5px;
  }
  .ball2 {
    top: 20px;
    left: 5px;
  }
  .ball3 {
    top: 20px;
    left: 20px;
  }
}
